
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
app-name{

}

.menu-div{
    position: relative;
    width: 100%;
    top: 8px;
    left: 16px;
    marginBottom: 20px;
    font-size: 18px;
}
.body-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    flex-direction: column;
    width: 80%;
}
.body-headline-div{
    width: 100%;
    align-items: center;
    justify-content: center;
    float:left;
    position:relative;
}

.body-content-div{
    width: 100%;
    justify-content: center;
    align-items: center;
    position:relative;
    float:left;
    clear: left;
}
.model-card{
    border-style: dashed;
    margin: 20px;
    padding:10px;
    width:100%;
}
.card-element{
    margin: 20px;
}

.tags-input-container{
    border: 2px solid #000;
    padding: .5em;
    border-radius: 3px;
    width: min(80vw, 600px);
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

.tag-item{
    background-color: rgb(218, 216, 216);
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}
.tag-item .close{
    height: 20px;
    width: 20px;
    background-color: rgb(48, 48, 48);
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18px;
    cursor: pointer;
}

.tags-input{
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
}